<header class="navbar navbar-expand-lg custom-navbar sticky-top">
    <div class="container">

        <a class="navbar-brand" href="/">
            <img src="~/images/logo_3.png"
                 alt="Sky Bridge Solar"
                 class="logo-img">
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#menu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav ms-auto align-items-lg-center">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/About">About Us</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Services">Services</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Projects">Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/Contact">Contact</a>
                </li>

                <li class="nav-item ms-lg-3 mt-2 mt-lg-0">
                    <a class="btn btn-quote" href="/Contact">
                        Get Quote
                    </a>
                </li>

            </ul>
        </div>

    </div>
</header>